@import url('bootstrap.css');
@import url('font-awesome-4.6.3/css/font-awesome.min.css');

/* Main BF group */
body {
	margin: 0px;
	font-size: 0px;
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

#browserphone {
	width: 100vw;
	height: 100vh;
	border-sizing: box;
	color: white;
}

#browserphone * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

#browserphone .bf-content {
	width: 100%;
	height: 100%;
}

/* App & Sidebar group */
#browserphone  .bf-active-app {
	height: 100%;
	display: inline-block;
}

#browserphone  .bf-sidebar {
	height: 100%;
	background: #4d4d4d;
	display: inline-block;
	z-index: 2;
	position: relative;
	float: right;
}

@media only screen and (max-width: 992px) {
	#browserphone  .bf-active-app {
		width: 100%;
	}
}

/* App area group */
#browserphone  .bf-topbar {
	background: #333;
	height: 8%;
	width: 100%;
	z-index: 2;
	position: relative;
}

#browserphone  .bf-topbar .bf-topbar-action {
	width: 15%;
	height: 100%;
	float: left;
	font-size: 5vh;
}

#browserphone .bf-topbar .bf-topbar-action:hover {
	-webkit-transition: font 0.1s ease;
	transition: font 0.1s ease;
	font-size: 6vh;
}
	
#browserphone  .bf-topbar .bf-topbar-text {
	width: 70%;
	height: 100%;
	float: left;
	font-size: 4vh;
}

#browserphone  .bf-topbar .bf-topbar-apps {
	width: 15%;
	height: 100%;
	float: left;
	font-size: 3vh;
}
#browserphone  .bf-topbar .bf-topbar-apps:hover {
	-webkit-transition: font 0.1s ease;
	transition: font 0.1s ease;
	font-size: 4vh;
}

#browserphone .bf-app-area {
	height: 83%;
	width: 100%;
}

@media only screen and (min-width: 992px) {
	#browserphone  .bf-topbar .bf-topbar-action {
		width: 10%;
	}
	
	#browserphone  .bf-topbar .bf-topbar-text {
		width: 75%;
	}
}

/* Special case where no dock */
#browserphone .bf-active-app.no-dock .bf-app-area {
	height: 92%;
}

/* App content group */
#browserphone .bf-app-area .bf-app-sidebar {
	background: #fa6108;
	float: left;
	height: 100%;
	width: 15%;
	z-index: 2;
	position: relative;
}

#browserphone .bf-app-area .bf-app-sidebar .bf-app-sidebar-block {
	display: block;
	text-align: center;
}

#browserphone .bf-app-area .bf-app-sidebar .bf-app-sidebar-block .bf-app-sidebar-top {
	display: block;
	font-size: 4.5vh;
	height: 7vh;
	padding-top: 1.5vh;
}

#browserphone .bf-app-area .bf-app-sidebar .bf-app-sidebar-block:first-child .bf-app-sidebar-top {
	height: 5.5vh;
	padding-top: 0px;
}

#browserphone .bf-app-area .bf-app-sidebar .bf-app-sidebar-block:first-child .bf-app-sidebar-top:hover {
	-webkit-transition: font 0.1s ease, height 0.1s ease;
	transition: font 0.1s ease, height 0.1s ease;
	font-size: 5vh;
	height: 6.5vh;
}

#browserphone .bf-app-area .bf-app-sidebar .bf-app-sidebar-block .bf-app-sidebar-top:hover {
	-webkit-transition: font 0.1s ease, height 0.1s ease;
	transition: font 0.1s ease, height 0.1s ease;
	font-size: 5vh;
	height: 8vh;
}

#browserphone .bf-app-area .bf-app-sidebar .bf-app-sidebar-block .bf-app-sidebar-bottom {
	display: block;
	font-size: 1.8vh;
}

#browserphone .bf-app-area .bf-app-content {
	background: #fff;
	float: right;
	height: 100%;
	width: 85%
}

/* App bar */
#browserphone .bf-app-area .bf-app-content .bf-app-bar {
	height: 10%;
	background: #e5e5e5;
	border: 1px solid #4d4d4d;
	border-top: none;
	color: #333;
}

#browserphone .bf-app-area .bf-app-content .bf-app-bar .left-content {
    float: left;
    height: 100%;
    font-size: 2.5vh;
    padding: 5px;
	width: 50%;
}

#browserphone .bf-app-area .bf-app-content .bf-app-bar .right-content {
	float: right;
    height: 100%;
    width: 50%;
}

#browserphone .bf-app-area .bf-app-content .bf-app-bar .search {
	background: none;
    border: none;
    height: 100%;
    padding: 10px;
	width: 100%;
}

#browserphone .bf-app-area .bf-app-content .bf-app-bar .content-group {
	float: right;
	margin-right: 2vw;
	line-height: 9vh;
	height: 100%;
}

#browserphone .bf-app-area .bf-app-content .bf-app-bar .content-group:first-child {
	margin-right: 1vw;
	line-height: 10vh;
	color: #808080;
}

#browserphone .bf-app-area .bf-app-content .bf-app-bar .content-group .content-icon {
	font-size: 3vh;
	margin-right: 0.5vw;
}

#browserphone .bf-app-area .bf-app-content .bf-app-bar .content-group .content-text {
	font-size: 2vh;
	display: inline;
	color: #808080;
}

@media only screen and (max-width: 992px) {
	#browserphone .bf-app-area .bf-app-content .bf-app-bar .content-group {
		line-height: 10vh;
	}
	
	#browserphone .bf-app-area .bf-app-content .bf-app-bar .content-group .content-text {
		display: none;
	}
}

/* Grid */
#browserphone .bf-app-area .bf-app-content .bf-app-grid {
	background: #4d4d4d;
	height: 90%;
	padding: 0px 1px 0px 1px;
	overflow-y: scroll;
}

#browserphone .bf-app-area .bf-app-content .bf-app-grid .bf-app-grid-square {
	outline: 1px solid #4d4d4d;
	height: 25%;
	background: #f2f2f2;
	text-align: center;
	color: #333333;
}
#browserphone .bf-app-area .bf-app-content .bf-app-grid .bf-app-grid-square.selected {
	background: #d9d9d9;
}
#browserphone .bf-app-area .bf-app-content .bf-app-grid .bf-app-grid-square.image {
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("shutterstock_81301759.jpg");
	background-size: cover;
}
#browserphone .bf-app-area .bf-app-content .bf-app-grid .bf-app-grid-square.image.selected {
	background: linear-gradient(rgba(150, 150, 150, 0.4), rgba(150, 150, 150, 0.4)), url("shutterstock_81301759.jpg");
	background-size: cover;
}

#browserphone .bf-app-area .bf-app-content .bf-app-grid .bf-app-grid-square .grid-top-content {
	display: block;
	height: 75%;
}
#browserphone .bf-app-area .bf-app-content .bf-app-grid .bf-app-grid-square .grid-bottom-content {
	display: block;
	height: 25%;
	font-size: 2vh;
	line-height: 300%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(242,242,242,0.65) 29%);
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(242,242,242,0.65) 29%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(242,242,242,0.65) 29%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6f2f2f2',GradientType=0 );
}
#browserphone .bf-app-area .bf-app-content .bf-app-grid .bf-app-grid-square.selected .grid-bottom-content {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(217,217,217,0.65) 29%);
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(217,217,217,0.65) 29%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(217,217,217,0.65) 29%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6d9d9d9',GradientType=0 );
}

#browserphone .bf-app-area .bf-app-content .bf-app-grid .bf-app-grid-square .grid-top-content .actions-wrapper {
	width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

#browserphone .bf-app-area .bf-app-content .bf-app-grid .bf-app-grid-square .grid-top-content .actions-wrapper .action-other {
	display: table-cell;
	vertical-align: middle;
}

#browserphone .bf-app-area .bf-app-content .bf-app-grid .bf-app-grid-square .grid-top-content .actions-wrapper .action-other .actions {
	height: 50%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(217,217,217,0.8) 50%, rgba(217,217,217,0) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(217,217,217,0.8) 50%,rgba(217,217,217,0) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(217,217,217,0.8) 50%,rgba(217,217,217,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00d9d9d9',GradientType=0 );
	text-align: center;
	font-size: 4vh;
	line-height: 8vh;
}

/* List */
#browserphone .bf-app-area .bf-app-content .bf-app-list {
	background: #4d4d4d;
	height: 90%;
	padding: 0px 1px 0px 1px;
	overflow-y: scroll;
}

#browserphone .bf-app-area .bf-app-content .bf-app-list .bf-app-list-row {
	border-bottom: 1px solid #4d4d4d;
	height: 15%;
	background: #f2f2f2;
	color: #333333;
}

#browserphone .bf-app-area .bf-app-content .bf-app-list .bf-app-list-row .list-row-icon {
	width: 20%;
	height: 100%;
	float: left;
	font-size: 8vh;
}

#browserphone .bf-app-area .bf-app-content .bf-app-list .bf-app-list-row .list-row-text-area {
	width: 60%;
	height: 100%;
	float: left;
	font-size: 6vh;
}
#browserphone .bf-app-area .bf-app-content .bf-app-list .bf-app-list-row .list-row-text-area .top-text {
    height: 50%;
    font-size: 3vh;
    line-height: 8vh;
}
#browserphone .bf-app-area .bf-app-content .bf-app-list .bf-app-list-row .list-row-text-area .bottom-text {
	height: 50%;
	font-size: 2vh;
	line-height: 4vh;
	color: #808080;
}
#browserphone .bf-app-area .bf-app-content .bf-app-list .bf-app-list-row .list-row-text-area .solo-text {
    height: 100%;
    font-size: 3vh;
    line-height: 10vh;
}

#browserphone .bf-app-area .bf-app-content .bf-app-list .bf-app-list-row .list-row-actions {
	width: 20%;
	height: 100%;
	float: left;
}

@media only screen and (max-width: 992px) {
	#browserphone .bf-app-area .bf-app-content .bf-app-list .bf-app-list-row .list-row-icon {
		font-size: 6vh;
	}
}

@media only screen and (min-width: 992px) {
	#browserphone .bf-app-area .bf-app-sidebar {
		width: 10%
	}

	#browserphone .bf-app-area .bf-app-content {
		width: 90%
	}
}

/* App View */
#browserphone .bf-app-area .bf-app-content .bf-app-view {
	background: #4d4d4d;
	height: 100%;
	padding: 0px 1px 0px 1px;
	overflow-y: scroll;
}

#browserphone .bf-app-area .bf-app-content .bf-app-view .bf-app-view-row {
	width: 100%;
	height: 33%;
	display: block;
}

#browserphone .bf-app-area .bf-app-content .bf-app-view .bf-app-view-row .bf-app-view-cell {
	width: 33%;
	height: 100%;
	float: left;
	text-align: center;
}

#browserphone .bf-app-area .bf-app-content .bf-app-view .bf-app-view-row .bf-app-view-cell .app-group {
    width: 80%;
    height: 80%;
  	background-color: #fa6108;
	display: inline-block;
	margin-top: 3vh;
	border-radius: 2vh;
}

#browserphone .bf-app-area .bf-app-content .bf-app-view .bf-app-view-row .bf-app-view-cell .app-group .app-icon {
	height: 75%;
	width: 100%;
	font-size: 13vh;
	text-shadow: 3px 3px #808080;
}

#browserphone .bf-app-area .bf-app-content .bf-app-view .bf-app-view-row .bf-app-view-cell .app-group .app-name {
    height: 25%;
    font-size: 3vh;
}

@media only screen and (max-width: 992px) {
	#browserphone .bf-app-area .bf-app-content .bf-app-view .bf-app-view-row {
		height: 20%;
	}
	
	#browserphone .bf-app-area .bf-app-content .bf-app-view .bf-app-view-row .bf-app-view-cell .app-group .app-icon {
		font-size: 8vh;
	}

	#browserphone .bf-app-area .bf-app-content .bf-app-view .bf-app-view-row .bf-app-view-cell .app-group .app-name {
	    font-size: 2vh;
	}
}

/* Special case where app sidebar hidden */
#browserphone .bf-app-area.no-app-sidebar .bf-app-sidebar {
	display: none;
}
#browserphone .bf-app-area.no-app-sidebar .bf-app-content {
	width: 100%
}


/* Dock group */
#browserphone #bf-dock {
	height: 9%;
	background: #333333;
	z-index: 2;
	position: relative;
}

#browserphone #bf-dock .bf-dock-divider {
	width: 100%;
    height: 100%;
    display: table;
    text-align: center;
	color: #808080;
}

#browserphone #bf-dock .bf-dock-divider .bf-dock-group {
	display: table-cell;
	vertical-align: middle;
}
#browserphone #bf-dock .bf-dock-divider .bf-dock-group:not(:last-child) {
	border-right: 1px solid #4d4d4d;
}

#browserphone #bf-dock .bf-dock-divider .bf-dock-app-grouper {
	margin: auto;
	width: 7vh;
	height: 7vh;
}

#browserphone #bf-dock .bf-dock-divider .bf-dock-group-top {
    font-size: 5vh;
    display: block;
    line-height: 6vh;
}
#browserphone #bf-dock .bf-dock-divider .bf-dock-group-bottom {
	font-size: 1vh;
	display: block;
}

@media only screen and (max-width: 992px) {
	#browserphone #bf-dock .bf-dock-divider .bf-dock-group-top {
	    line-height: 7vh;
	}

	#browserphone #bf-dock .bf-dock-divider .bf-dock-group-bottom {
		display: none;
	}
}

#browserphone #bf-dock .bf-dock-divider .bf-dock-group.active-group .bf-dock-app-grouper .bf-dock-group-top {
	font-size: 5.2vh;
	color: #fff;
}

/* Special case where no dock */
#browserphone .bf-active-app.no-dock #bf-dock {
	display: none;
}

/* Helper CSS */
#browserphone .center-parent {
	width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

#browserphone .center-child {
	display: table-cell;
	vertical-align: middle;
}